html {
  font-size: 62.5%;
}
body {
  background: lightgray;
  font-size: 1.4rem;

  ul { list-style: none; }
  a {
    text-decoration: none !important;
    outline: none !important;
    color: inherit;
  }
}
*, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  outline: none;
}
